extends ../../layout/default.pug
//- nên nhớ thuộc tính chỉ gán bằng dấu bằng ko bao giờ gán bằng dấu hai chấm
//- tạo một hộp thoại checkbox xong dùng form để gửi lên
block main
    if(role.permission.includes("roles-view"))
        h1 Nhóm quyền
        .card.mb-3 
            .card-header Danh sách 
                .card-body
                    .row
                        .col-8
                        .col-4
                            if(role.permission.includes("roles-create"))
                                a(
                                    href=`${prefixAdmin}/roles/create`
                                    class="btn btn-outline-success"
                                ) +Thêm mới
                    table(
                        class="table table-hover table-sm"
                    )    
                        thead
                            tr
                                th STT 
                                th Nhóm quyền 
                                th Mô tả ngắn
                                th Hành động
                        tbody
                            if(records.length >0)
                                each item,index in records
                                    tr 
                                        td #{index+1}
                                        td #{item.title}
                                        td #{item.description}
                                        td
                                            a(
                                                href=`${prefixAdmin}/roles/detail/${item.id}`
                                                class="btn btn-secondary btn-sm"
                                            ) Chi tiết
                                            if(role.permission.includes("roles-edit"))
                                                a(
                                                    href=`${prefixAdmin}/roles/edit/${item.id}`
                                                    class="btn btn-warning btn-sm"
                                                ) Sửa
                                            if(role.permission.includes("roles-delete"))
                                                button(
                                                    class="btn btn-danger btn-sm ml-1"
                                                ) Xóa
                            else
                                tr
                                    td(colspan="4", class="text-center") Chưa có nhóm quyền nào được tạo


