mixin alert_success(time)
  - if (messages.success)
    .message.info
      div(
        class="alert alert-success"
        show-alert
        data-time=time
      ) #{messages.success} <span close-alert>X</span> 
mixin alert_error(time)
  - if (messages.error)
    .message.info
      div(
        class="alert alert-danger"
        show-alert
        data-time=time
      ) #{messages.error} <span close-alert>X</span>  